<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <title>BlogIt!</title>
    <script data-require="angular.js@4.0.0" data-semver="4.0.0" src="https://code.angularjs.org/latest/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body ng-controller="myCtrl">
    {{message}}
<div>
  <p>Name <input type="text" ng-model="name" placeholder="Enter name here"></p>
  <p>Hobbies <input type="text" ng-model="hobby" placeholder="Enter hobbies here"></p>
       <h2>Hi {{name}} !</h2>
       <h2>Your Hobbies are {{hobby}} </h2></div>
       
        
 </body>

</html>
